/* .wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 245, 245, 0.9);
    z-index: 10000;
    transition: 0.5s; */
    /* transform: scale(0); */
    /* opacity: 0; */
    /* visibility: hidden; */
  

 /* .wrapper.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

 .wrapper form {
    background-color: var(--white-color);
    border: 1px solid var(--grey-color);
    max-width: 50rem;
    width: 50%;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
  }

 .wrapper form h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

 .wrapper form .control {
    margin-bottom: 2rem;
  }

 .wrapper form label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

 .wrapper form input {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    display: block;
    border: 1px solid var(--grey-color);
    padding: 1.3rem 0;
    text-indent: 1rem;
    border-radius: 0.5rem;
    width: 100%;
  }

 .wrapper form .checkbox {
    margin-bottom: 2rem;
  }

 .wrapper form .checkbox input {
    width: auto;
    margin-right: 0.5rem;
    cursor: pointer;
  }

 .wrapper form .button {
    display: block;
    width: 100%;
    padding: 1.3rem 0;
    font-size: 1.8rem;
    cursor: pointer;
  }

 .wrapper form .links {
    margin-top: 2rem;
  }

 .wrapper form .links span {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

 .wrapper form .links span a {
    color: var(--primary-color);
  }

 .wrapper form .links span a:hover {
    text-decoration: underline;
  } */
  .signin {
    width: 100%;
    height: 90vh;
    display: flex;
}

.signin .leftSide {
    height: 100%;
    flex: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin .rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin .rightSide h1 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 50px;
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 30px;
}

form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
}

form label {
    margin-top: 15px;
    color: grey;
}

form button {
    margin-top:  auto;
    margin-bottom:  auto;
    width: 160px;
    height: 40px;
    border: none;
    background-color: #121619;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}
form .checkbox {
  margin-bottom: 2rem;
}

form .checkbox input {
  width: auto;
  margin-right: 0px;
  cursor: pointer;
}
form .links {
  margin-top: 2rem;
}

form .links span {
  display: block;
  margin-bottom: 1rem;
  font-size: 5x;
}

form .links span a {
  color: var(--primary-color);
}

form .links span a:hover {
  text-decoration: underline;
}